<div class="ml-track" [style.height.px]="getTrackHeight()" (click)="selectTrack()" [attr.data-track-selected]="isSelected"
  [attr.data-track-playing]="isPlaying" (dblclick)="playTrack()">
  <div class="ml-track-checkbox">
    <i class="far fa-square ml-track-unchecked" (click)="checkTrack($event)"></i>
    <i class="fas fa-check ml-track-checked" (click)="checkTrack($event)"></i>
  </div>
  <div class="ml-track-now-playing">
    <i class="fas fa-music"></i>
  </div>
  <div class="ml-track-title-group">
    <div class="ml-track-title">{{track.title}}</div>
    <div class="ml-track-buttons">
      <i class="fa fa-play ml-track-play" (click)="playTrack()"></i>
      <i class="fa fa-plus ml-track-plus" (click)="addTrack()"></i>
    </div>
  </div>
  <div class="ml-track-artist d-none d-md-block ellipsis">{{track.artist | async}}</div>
  <div class="ml-track-album d-none d-xl-block ellipsis">{{track.album | async}}</div>
  <div class="ml-track-year d-none d-xl-block">{{track.year}}</div>
  <div class="ml-track-genre d-none d-lg-block ellipsis">{{track.genre | async}}</div>
  <div class="ml-track-duration">{{track.durationDisplay}}</div>
</div>
