.ml-music {
  height: 100%;
}

.ml-music-nav {
  --music-nav-height: 50px;

  height: var(--music-nav-height);
}

.ml-music-settings {
  --music-settings-height: 30px;

  height: var(--music-settings-height);
  display: flex;
}

.ml-music-content {
  --music-nav-height: 50px;
  --music-settings-height: 30px;
  
  height: calc(100% - var(--music-nav-height) - var(--music-settings-height));
}

.ml-tracks, .ml-artists, .ml-albums {
  height: 100%;
  overflow-y: auto;
}
