<div class="modal fade" id="modalNewPlaylist" tabindex="-1" role="dialog" aria-labelledby="modalNewPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewPlaylistTitle">New Playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtNewPlaylist">Playlist</label>
                    <input type="text" class="form-control" id="txtNewPlaylist" name="playlistName" placeholder="Playlist name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="addNewPlaylist()" data-tooltip="tooltip" title="Save playlist">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-tooltip="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer="defer">
    $('#modalNewPlaylist').on('show.bs.modal', function (e) {
        $('#txtNewPlaylist').val('');
    })

    function addNewPlaylist() {
        var success = () => {
            hideLoading();
            loadView('@(nameof(Enums.MediaPages.Playlist))');
        };

        $('#modalNewPlaylist').modal('hide');
        showLoading();
        $.post('@Url.Action("AddPlaylist", "Playlist")', { playlistName: $('#txtNewPlaylist').val() }, success);
    }
</script>
