@model MediaLibraryWebUI.Models.MusicViewModel

<div class="modal fade" id="modalAddNewSong" role="dialog" aria-labelledby="modalAddNewSongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddNewSongTitle">Upload Song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-file">
                    @Html.TextBox("SongFile", string.Empty, new { @class = "custom-file-input", type = "file", id = "inpNewSong", accept = ".mp3" })
                    @Html.Label("inpNewSong", "Choose file...", new { @class = "custom-file-label" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="uploadFile()" data-tooltip="tooltip" title="Upload song">Upload</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-tooltip="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer="defer">
    $('#modalAddNewSong').on('show.bs.modal', function (e) {
        $('#inpNewSong').val('');
    });

    function uploadFile() {
        var data = new FormData(),
            success = () => loadView('@(nameof(Enums.MediaPages.Music))');

        if ($('#inpNewSong').prop('files').length > 0) {
            $('#modalAddNewSong').modal('hide');
            $('#loadingModal').modal('show');
            data.append("file", $('#inpNewSong').prop('files')[0]);
            $.ajax({
                url: '@Url.Action("Upload", "Music")',
                data: data,
                processData: false,
                contentType: false,
                type: 'POST',
                success: success
            });
        } else {
            $('#modalAddNewSong').modal('hide');
        }
    }
</script>