@model MediaLibraryWebUI.Models.MusicViewModel

<div class="modal fade" id="modalAddToPlaylist" role="dialog" aria-labelledby="modalAddToPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddToPlaylistTitle">Select playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="d-none">
                    <input id="txtPlaylistUrl" type="hidden" value="" />
                    <input id="txtPlaylistItemId" type="hidden" value="" />
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var playlist in Model.Playlists)
                    {
                        <li data-playlist-item="enabled" data-playlist-id="@(playlist.Id)" class="list-group-item list-group-item-action" data-tooltip="tooltip" title="@(playlist.Name)"
                            onclick="addToPlaylist(this)">@(playlist.Name)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer="defer">
    $(function () {
        $('#modalAddToPlaylist').on('show.bs.modal', function (e) {
            var $btn = $(e.relatedTarget),
                url = $btn.attr('data-playlist-url'),
                id = $btn.attr('data-item-id');
            $('[data-playlist-item="enabled"]').attr('data-playlist-url', url);
            $('[data-playlist-item="enabled"]').attr('data-item-id', id);
        });

        $('#modalAddToPlaylist').on('hide.bs.modal', function (e) {
            $('[data-playlist-item="enabled"]').attr('data-playlist-url', '');
            $('[data-playlist-item="enabled"]').attr('data-item-id', '');
        });
    });

    function addToPlaylist(btn) {
        var $btn = $(btn),
            url = $btn.attr('data-playlist-url'),
            id = $btn.attr('data-item-id'),
            playlistId = $btn.attr('data-playlist-id');

        $.post(url, { playlistId, itemId: id }, () => $('#modalAddToPlaylist').modal('hide'));
    }
</script>