@using MediaLibraryWebUI.Repositories

<div class="modal fade" id="@(HtmlControlsRepository.ClearNowPlayingModalId)" tabindex="-1" role="dialog" aria-labelledby="modalClearTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalClearTitle">Clear now playing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear?
            </div>
            <div class="modal-footer">
                <button data-item-action="clear" class="btn btn-outline-danger" data-tooltip="tooltip" title="Clear now playing">Clear</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-tooltip="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>