.ml-podcast {
    margin: 0px 5px 5px 0px;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 5px;
}

.ml-podcast-image {
    width: 105px;
    height: 105px;
    flex: 0 0 auto;
}

.ml-podcast-body {
    cursor: pointer;
}

.ml-podcast-options {
    flex: 0 0 auto;
    cursor: pointer;
}

@media (min-width: 768px) {
    .ml-podcast {
        display: inline-flex;
        width: 45%;
    }
}