################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicLibrary/MusicLibraryWebApi/bin
/MusicLibrary/MusicLibraryWebApi/obj
/MusicLibrary/packages
/MusicLibrary/.vs
/.vs
/MusicLibrary/MusicLibraryBLL/bin/Debug
/MusicLibrary/MusicLibraryBLL/obj/Debug
/MusicLibrary/MusicLibraryWebApp/obj/Debug
/MusicLibrary/MusicLibraryWebApp/bin
/MusicLibrary/MusicLibraryDB/bin/Debug
/MusicLibrary/MusicLibraryDB/obj
/MusicLibrary/MusicLibraryDB/Import Schema Logs
*.dbmdl
*.jfm
/MusicLibrary/MediaLibraryBLL/bin/Debug
/MusicLibrary/MediaLibraryBLL/obj
/MusicLibrary/MediaLibraryDB/bin/Debug
/MusicLibrary/MediaLibraryDB/obj/Debug
/MusicLibrary/MediaLibraryDAL/obj/Debug
/MusicLibrary/MediaLibraryDAL/bin/Debug
/MediaLibrary/.vs
/MediaLibrary/MediaLibraryBLL/bin/Debug
/MediaLibrary/MediaLibraryDAL/bin/Debug
/MediaLibrary/MediaLibraryDAL/obj/Debug
/MediaLibrary/MediaLibraryBLL/obj
/MediaLibrary/MediaLibraryDB/bin/Debug
/MediaLibrary/MediaLibraryDB/obj/Debug
/MediaLibrary/MediaLibraryWebApi/bin
/MediaLibrary/MediaLibraryWebApi/obj/Debug
/MediaLibrary/MediaLibraryWebApp/.vscode
/MediaLibrary/MediaLibraryWebApp/e2e
/MediaLibrary/MediaLibraryWebApp/src/assets
/MediaLibrary/MusicLibraryDB/obj/Debug
/MediaLibrary/packages
/MediaLibrary/MediaLibraryWebUI/obj
