################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicLibrary/MusicLibraryWebApi/bin
/MusicLibrary/MusicLibraryWebApi/obj
/MusicLibrary/packages
/MusicLibrary/.vs
/.vs
/MusicLibrary/MusicLibraryBLL/bin/Debug
/MusicLibrary/MusicLibraryBLL/obj/Debug
/MusicLibrary/MusicLibraryWebApp/obj/Debug
/MusicLibrary/MusicLibraryWebApp/bin
/MusicLibrary/MusicLibraryDB/bin/Debug
/MusicLibrary/MusicLibraryDB/obj
/MusicLibrary/MusicLibraryDB/Import Schema Logs
*.dbmdl
*.jfm
/MusicLibrary/ML_BLL/bin/Debug
/MusicLibrary/ML_BLL/obj
/MusicLibrary/ML_DB/bin/Debug
/MusicLibrary/ML_DB/obj/Debug
/MusicLibrary/ML_DAL/obj/Debug
/MusicLibrary/ML_DAL/bin/Debug
/ML/.vs
/ML/ML_BLL/bin/Debug
/ML/ML_DAL/bin/Debug
/ML/ML_DAL/obj/Debug
/ML/ML_BLL/obj
/ML/ML_DB/bin/Debug
/ML/ML_DB/obj/Debug
/ML/ML_WebApi/bin
/ML/ML_WebApi/obj/Debug
/ML/ML_WebApp/.vscode
/ML/ML_WebApp/e2e
/ML/ML_WebApp/src/assets
/ML/MusicLibraryDB/obj/Debug
/ML/packages
/ML/ML_WebUI/bin
/ML/ML_WebUI/obj/Debug
/ML/ML_WebUI_OLD/bin
/ML/ML_WebUI_OLD/obj/Debug
/ML/ML_DAL/obj/Release
/ML/ML_WebApi/obj/Release
/ML/ML_WebUI/obj/Release
/ML/ML_BLL/bin/Release
/ML/ML_DAL/bin/Release
/ML/ML_DB/bin/Release
/ML/ML_DB/obj/Release
/ML/ML_Console/bin/Debug
/ML/ML_Console/obj/Debug
/ML/ML_Console/obj/Release
/ML/ML_Console/bin/Release
/ML/ML_Console/obj/DEV
/ML/ML_DAL/obj/DEV
/ML/ML_WebUI/obj/DEV
/ML/ML_DAL/bin/DEV
/ML/ML_DB/bin/DEV
/ML/ML_DB/obj/DEV
/ML/ML_BLL/bin/DEV
/ML/ML_WebUI/node_modules
/ML/ML_WebUI/lib/app/**/*.js
/ML/MLMobile/MLMobile/bin/Debug/netstandard2.0
/ML/MLMobile/MLMobile.Android/bin/Debug
/ML/MLMobile/MLMobile.Android/obj
/ML/MLMobile/MLMobile/obj
*.csproj.user
/ML/MLMobile/MLMobile/bin/Release/netstandard2.0
/ML/MLMobile/MLMobile.Android/bin/Release
/ML/ML_DAL/obj
*.sqlproj.user
/ML/ML_Console/bin/DEV
/ML/ML_Mobile/MediaLibraryMobile.Android/obj/Debug/90
/ML/ML_Mobile/MediaLibraryMobile/bin/Debug/netstandard2.0
/ML/ML_Mobile/MediaLibraryMobile.Android/bin/Debug
/ML/ML_Mobile/MediaLibraryMobile/obj/Debug/netstandard2.0
/ML/ML_Mobile/MediaLibraryMobile/obj
/ML/ML_Mobile/MediaLibraryMobile.Android/obj
/ML/ML_Mobile/MediaLibraryMobile/bin/Release/netstandard2.0
/ML/ML_Mobile/MediaLibraryMobile.Android/bin/Release
*.designer.cs
/ML/MediaLibraryWearable/MediaLibraryWearable/bin/**
/ML/MediaLibraryWearable/MediaLibraryWearable.Tizen/bin/**
/ML/MediaLibraryWearable/MediaLibraryWearable.Tizen/obj
/ML/MediaLibraryWearable/MediaLibraryWearable/obj
