################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicLibrary/MusicLibraryWebApi/bin
/MusicLibrary/MusicLibraryWebApi/obj
/MusicLibrary/packages
/MusicLibrary/.vs
/.vs
/MusicLibrary/MusicLibraryBLL/bin/Debug
/MusicLibrary/MusicLibraryBLL/obj/Debug
