<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MediaLibraryEntities" connectionString="metadata=res://*/DbContexts.MediaLibrary.csdl|res://*/DbContexts.MediaLibrary.ssdl|res://*/DbContexts.MediaLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MediaLibrary_DEV;persist security info=True;user id=kserver_sql_dev;password=kserver_sql_dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
</configuration>