<div class="card bg-light ml-podcast" [title]="podcast?.title">
  <img class="ml-podcast-image" [src]="podcast?.imageUrl" [alt]="podcast?.title" />
  <div class="card-body ml-podcast-body" (click)="podcastClicked(podcast?.id)">
    <h5 class="card-title">{{podcast?.title}}</h5>
    <h6 class="card-subtitle text-muted mb-1">{{podcast?.author}}</h6>
    <div><i class="fa fa-calendar-alt"></i> {{getNumberOfDays(podcast?.lastUpdateDate)}} days ago</div>
  </div>
  <div class="ml-podcast-options">
    <button type="button" class="btn" data-toggle="modal" data-target="#podcastModal" [attr.data-podcast-id]="podcast?.id">
      <i class="fa fa-ellipsis-h fa-2x text-secondary"></i>
    </button>
  </div>
</div>
