<div class='ml-music-settings'>
  <div>
    <i class="fa fa-random"></i> Shuffle all ({{itemCount}})
  </div>
  <div>
    Sort by: {{getSortDisplay()}}
    <select *ngIf="selectedMusicTab == MusicTabs.Songs" (change)="trackSortSelectionChanged($event.target.value)">
        <option value="{{option.id}}" *ngFor="let option of trackSortOptions">{{option.name}}</option>
    </select>
    <select *ngIf="selectedMusicTab == MusicTabs.Albums" (change)="albumSortSelectionChanged($event.target.value)">
      <option value="{{option.id}}" *ngFor="let option of albumSortOptions">{{option.name}}</option>
    </select>
    <select *ngIf="selectedMusicTab == MusicTabs.Artists" disabled="true">
      <option>A to Z</option>
    </select>
  </div>
  <div *ngIf="selectedMusicTab != MusicTabs.Artists">
    Genre:
    <select (change)="genreSelectionChanged($event.target.value)" value="selectedGenreId">
        <option value="-1">All genres</option>
        <option value="{{genre.id}}" *ngFor="let genre of genres">{{genre.name}}</option>
    </select>
  </div>
</div>
