.ml-track {
  width: 100%;
  display: flex;
}

.ml-track-checkbox {
  visibility: hidden;
}

.ml-track-now-playing {
  display: none;
}

.ml-track-title-group {
  display: flex;
  flex-grow: 1;
}

.ml-track-title {
  display: flex;
  flex-grow: 1;
}

.ml-track-buttons {
  display: none;
}

.ml-track-artist {
  width: 200px;
}

.ml-track-album {
  width: 200px;
}

.ml-track-year {
  width: 50px;
}

.ml-track-genre {
  width: 200px;
}

.ml-track-duration {
  width: 50px;
}
