<div class="track-row">
  <div class="track-checkbox">
    <i class="far fa-square"></i>
    <i class="fas fa-check"></i>
  </div>
  <div class="track-now-playing">
    <i class="fas fa-music"></i>
  </div>
  <div class="track-title-group">
    <div class="track-title">{{track.title}}</div>
    <div class="track-buttons">
      <i class="fa fa-play"></i>
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <div class="track-artist d-none d-md-block">{{getArtistNameById(track.artistId)}}</div>
  <div class="track-album d-none d-xl-block">{{getAlbumTitleById(track.albumId)}}</div>
  <div class="track-year d-none d-xl-block">{{track.year}}</div>
  <div class="track-genre d-none d-lg-block">{{getGenreNameById(track.genreId)}}</div>
  <div class="track-duration">{{getDurationDisplay(track.duration)}}</div>
</div>
