<div class="ml-track" [style.height.px]="getTrackHeight()" ([hidden])="track.hidden">
  <div class="ml-track-checkbox">
    <i class="far fa-square"></i>
    <i class="fas fa-check"></i>
  </div>
  <div class="ml-track-now-playing">
    <i class="fas fa-music"></i>
  </div>
  <div class="ml-track-title-group">
    <div class="ml-track-title">{{track.title}}</div>
    <div class="ml-track-buttons">
      <i class="fa fa-play"></i>
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <div class="ml-track-artist d-none d-md-block ellipsis">{{track.artist}}</div>
  <div class="ml-track-album d-none d-xl-block ellipsis">{{track.album}}</div>
  <div class="ml-track-year d-none d-xl-block">{{track.year}}</div>
  <div class="ml-track-genre d-none d-lg-block ellipsis">{{track.genre}}</div>
  <div class="ml-track-duration">{{track.durationDisplay}}</div>
</div>
