.ml-track {
  --ml-track-artist-height: 200px;
  --ml-track-album-height: 200px;
  --ml-track-genre-height: 200px;
  --ml-track-year-height: 50px;
  --ml-track-duration-height: 50px;

  display: flex;
}

.ml-track:hover {
  background-color: lightpink;
}

.ml-track:active {
  background-color: lightgray;
}

.ml-track:hover .ml-track-unchecked {
  visibility: visible;
}

.ml-track[data-track-selected='true'] {
  background-color: lightslategray;
}

.ml-track[data-track-selected='true'] .ml-track-unchecked {
  visibility: visible;
  color: white;
}

.ml-track[data-track-checked='true'] .ml-track-checked {
  visibility: visible;
}

.ml-track-unchecked {
  visibility: hidden;
}

.ml-track-checked {
  visibility: hidden;
}

.ml-track-checkbox {
  align-self: center;
}

.ml-track-now-playing {
  display: none;
  align-self: center;
}

.ml-track-title-group {
  flex: 1 1 auto;
  align-self: center;
}

.ml-track-title {
  display: flex;
  align-self: center;
}

.ml-track-buttons {
  display: none;
  align-self: center;
}

.ml-track-artist {
  flex: 0 0 var(--ml-track-artist-height);
  align-self: center;
}

.ml-track-album {
  flex: 0 0 var(--ml-track-album-height);
  align-self: center;
}

.ml-track-year {
  flex: 0 0 var(--ml-track-year-height);
  align-self: center;
}

.ml-track-genre {
  flex: 0 0 var(--ml-track-genre-height);
  align-self: center;
}

.ml-track-duration {
  flex: 0 0 var(--ml-track-duration-height);
  align-self: center;
}
