@model MediaLibraryWebUI.Models.MusicViewModel

@{
    ViewBag.Title = "Music";
}

<h2>Music</h2>
<ul class="nav nav-pills" id="musicTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="albums-tab" href="#albums" data-toggle="pill" role="tab" aria-controls="albums" aria-selected="true"><i class="fa fa-compact-disc"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="artists-tab" data-toggle="pill" href="#artists" role="tab" aria-controls="artists" aria-selected="false"><i class="fa fa-user"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="songs-tab" data-toggle="pill" href="#songs" role="tab" aria-controls="songs" aria-selected="false"><i class="fa fa-music"></i></a>
    </li>
</ul>
<hr />
<div class="tab-content" id="musicContent">
    <div class="tab-pane fade show active" id="albums" role="tabpanel" aria-labelledby="albums-tab">@Html.Partial("Albums", Model)</div>
    <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">@Html.Partial("Artists", Model)</div>
    <div class="tab-pane fade" id="songs" role="tabpanel" aria-labelledby="songs-tab">@Html.Partial("Songs", Model)</div>
</div>

@Html.Partial("~/Views/Shared/Modals/AddToPlaylistModal.cshtml", Model)

@section scripts {
}