@model MediaLibraryWebUI.Models.MusicViewModel

@if (Model.SongGroups.Any())
{
<div id="accordion-songs">
    @foreach (var item in Model.SongGroups.Select((group, index) => new { Index = index, Group = group }))
    {
        <div class="card">
            <div class="card-header" id="heading-songs-@(item.Index)">
                <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-songs-@(item.Index)" aria-expanded="false" 
                            aria-controls="collapse-songs-@(item.Index)" data-group-url="@(Url.Action("GetSongGroup", "Music", new { item.Group.Key }))">
                        @(item.Group.Key)
                    </button>
                </h5>
            </div>

            <div id="collapse-songs-@(item.Index)" class="collapse" aria-labelledby="heading-songs-@(item.Index)" data-parent="#accordion-songs"
                 data-play-ids="@(string.Join(",", item.Group.Select(song => song.Id)))">
            </div>
        </div>
    }
</div>
}
else
{
    <div>No songs.</div>
}