@model MediaLibraryWebUI.Models.MusicViewModel

<div id="accordion">
    @foreach (var item in Model.Songs.Select((group, index) => new { Index = index, Group = group }))
    {
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        @(item.Group.Key)
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (var song in item.Group)
                        {
                            <li class="list-group-item">@(song.Title)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
