<div class='ml-music'>
  <nav class="ml-music-nav">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-songs" role="tab" aria-controls="nav-songs"
        aria-selected="true" (click)="updateMusicTab(MusicTabs.Songs)">Songs</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-artists" role="tab" aria-controls="nav-artists"
        aria-selected="false" (click)="updateMusicTab(MusicTabs.Artists)">Artists</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-albums" role="tab" aria-controls="nav-albums"
        aria-selected="false" (click)="updateMusicTab(MusicTabs.Albums)">Albums</a>
    </div>
  </nav>
  <div class='ml-music-settings'>
    <app-music-settings [itemCount]="musicCount" [selectedMusicTab]="selectMusicTab" (albumsortupdated)="updateAlbumSort($event)"
      (genreupdated)="null" (tracksortupdated)="updateTrackSort($event)"></app-music-settings>
  </div>
  <div class="tab-content ml-music-content" id="nav-tabContent">
    <div class="tab-pane fade show active ml-tracks" id="nav-songs" role="tabpanel" aria-labelledby="nav-songs-tab"
      (scroll)="handleScroll($event.target.clientHeight,$event.target.scrollTop)">
      <div *ngFor="let list of trackSortLists$ | async">
        <app-track-list [list]="list"></app-track-list>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-artists" role="tabpanel" aria-labelledby="nav-artists-tab">
      <div *ngFor="let group of artistSortGroups">
        <app-artist-list [group]="group"></app-artist-list>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-albums" role="tabpanel" aria-labelledby="nav-albums-tab">
      <div *ngFor="let list of albumSortLists$ | async">
        <app-album-list [list]="list"></app-album-list>
      </div>
    </div>
  </div>
</div>
