<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-songs" role="tab" aria-controls="nav-songs"
      aria-selected="true" (click)="selectMusicTab = MusicTabs.Songs">Songs</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-artists" role="tab" aria-controls="nav-artists"
      aria-selected="false" (click)="selectMusicTab = MusicTabs.Artists">Artists</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-albums" role="tab" aria-controls="nav-albums"
      aria-selected="false" (click)="selectMusicTab = MusicTabs.Albums">Albums</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <app-music-settings [itemCount]="tracks.length" [albumSort]="currentAlbumSort" [trackSort]="currentTrackSort" [selectedMusicTab]="selectMusicTab"
    [genres]=genres></app-music-settings>
  <div class="tab-pane fade show active" id="nav-songs" role="tabpanel" aria-labelledby="nav-songs-tab">
    <app-track-list [trackSortGroups]=trackSortGroups></app-track-list>
  </div>
  <div class="tab-pane fade" id="nav-artists" role="tabpanel" aria-labelledby="nav-artists-tab">
    <div *ngFor="let artist of artists">
      <app-artist [artist]=artist></app-artist>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-albums" role="tabpanel" aria-labelledby="nav-albums-tab">
    <div *ngFor="let album of albums">
      <app-album [album]=album [artists]=artists></app-album>
    </div>
  </div>
</div>
