<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-songs" role="tab" aria-controls="nav-songs"
      aria-selected="true">Songs</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-artists" role="tab" aria-controls="nav-artists"
      aria-selected="false">Artists</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-albums" role="tab" aria-controls="nav-albums"
      aria-selected="false">Albums</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-songs" role="tabpanel" aria-labelledby="nav-songs-tab">
    <div *ngFor="let track of tracks">
      <app-track [track]=track [albums]=albums [artists]=artists></app-track>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-artists" role="tabpanel" aria-labelledby="nav-artists-tab">
    <div *ngFor="let artist of artists">
      <app-artist [artist]=artist></app-artist>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-albums" role="tabpanel" aria-labelledby="nav-albums-tab">
    <div *ngFor="let album of albums">
      <app-album [album]=album></app-album>
    </div>
  </div>
</div>
