@model MediaLibraryWebUI.Models.MediaLibraryViewModel

@{
    ViewBag.Title = string.Empty;
}

<div id="divView">
</div>

@Html.Partial("~/Views/Shared/Configurations/MediaLibraryConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        function loadView(view) {
            var success = () => hideLoading(),
                url = '@Url.Action("Index", "ViewName")';

            showLoading();
            updateSelectedMediaPage(view);
            updateMediaLibraryConfiguration(() => $('#divView').load(url.replace("ViewName", view), success));
        }

        loadView('@(Model.Configuration.SelectedMediaPage.ToString())');
    </script>
}

