@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
}

<div>
    <audio id="@(Model.MusicPlayerId)" autoplay="autoplay" preload="auto" controls="controls" />
</div>
<br />
<div class="card">
    <div class="card-header">Now Playing</div>
    <div id="playerItems"></div>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    var $player = $('#@(Model.MusicPlayerId)');

    function _play(item) {
        if (item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index');

            $('li[data-play-index].list-group-item').removeClass('active');
            $item.addClass('active');
            setCurrentItemIndex(index);
            updatePlayerConfiguration(function () {
                $player.prop('src', url);
                $player.trigger('play');
            });
        } else if ($('li[data-play-index].active').length === 1) {
            _play($('li[data-play-index].active')[0]);
        }
    }

    function initPlayer() {
        $player.on('ended', function (evt) {
            playNext();
        });
    }

    function playNext() {
        var nextIndex = getCurrentItemIndex() + 1,
            $item,
            repeat = getRepeat();

        if (repeat === '@(nameof(Enums.RepeatTypes.RepeatOne))') {
            $player.trigger('play');
        } else if (repeat === '@(nameof(Enums.RepeatTypes.RepeatAll))') {
            if (nextIndex === $('li[data-play-index]').length) {
                $item = $('li[data-play-index="0"]');
                _play($item[0]);
            } else {
                $item = $('li[data-play-index="' + nextIndex + '"]');
                _play($item[0]);
            }
        } else {
            $item = $('li[data-play-index=' + nextIndex + ']');

            if (nextIndex !== $('li[data-play-index]').length) {
                _play($item[0]);
            }
        }
    }

    function playPrevious() {
        var previousIndex = getCurrentItemIndex() - 1,
            $item = $('li[data-play-index="' + previousIndex + '"]');

        _play($item[0]);
    }

    initPlayer();
</script>

