@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

<div>
    <audio id="@(Model.MusicPlayerId)" autoplay="autoplay" preload="auto" controls="controls" />
</div>

@section scripts {
    <script type="text/javascript" defer="defer">

    </script>
}

