@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
}

<div>
    <audio id="@(Model.MusicPlayerId)" autoplay="autoplay" preload="auto" controls="controls" />
</div>
<br />
<div class="card">
    <div class="card-header">Now Playing</div>
    <div id="playerItems"></div>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    var $player = $('#@(Model.MusicPlayerId)');

    function _play(item) {
        if (item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index');

            $('.list-group-item').removeClass('active');
            $item.addClass('active');
            setCurrentItemIndex(index);
            updatePlayerConfiguration(function () {
                $player.prop('src', url);
                $player.trigger('play');
            });
        }
    }

    function initPlayer() {
        $player.on('ended', function (evt) {
            playNext();
        });
    }

    function playNext() {
        var nextIndex = getCurrentItemIndex() + 1,
            $item = $('[data-play-index=' + nextIndex + ']');

        _play($item[0]);
    }

    function playPrevious() {
        var previousIndex = getCurrentItemIndex() - 1,
            $item = $('[data-play-index=' + previousIndex + ']');

        _play($item[0]);
    }

    function reload() {
        var success = () => {
            if ($('li.active').length > 0 && @(Model.Configuration.AutoPlay.ToString().ToLower())) /*then*/ _play($('li.active')[0]);
        };

        $('#playerItems').load('@(Url.Action("GetPlayerItems", "Player"))', success);
    }

    initPlayer();
</script>

