@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

<div>
    <audio id="@(Model.MusicPlayerId)" autoplay="autoplay" preload="auto" controls="controls" />
</div>
<br />
<div class="card">
    <div class="card-header">Now Playing</div>
    <div id="playerItems">
        @Html.Partial("~/Views/Player/PlayerItems.cshtml", Model)
    </div>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    var $player = $('#@(Model.MusicPlayerId)');

    function play(item) {
        if (item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index');

            $('.list-group-item').removeClass('active');
            $item.addClass('active');
            setCurrentItemIndex(index);
            updateConfiguration(function () {
                $player.prop('src', url);
                $player.trigger('play');
            });
        }
    }

    function initPlayer() {
        $player.on('ended', function (evt) {
            playNext();
        });
    }

    function playNext() {
        var nextIndex = getCurrentItemIndex() + 1,
            $item = $('[data-play-index=' + nextIndex + ']');

        play($item[0]);
    }

    function playPrevious() {
        var previousIndex = getCurrentItemIndex() - 1,
            $item = $('[data-play-index=' + previousIndex + ']');

        play($item[0]);
    }

    function reload() {
        var success = () => null;

        $('#playerItems').load('@(Url.Action("GetPlayerItems", "Player"))', success);
    }

    initPlayer();
</script>

