<audio hidden #player></audio>
<div class="ml-controls-container">
  <div class="ml-playback-controls">
    <div class="ml-previous-button" (click)="previous()"><i class="fas fa-chevron-circle-left fa-3x"></i></div>
    <div class="ml-play-button">
      <i class="fas fa-play-circle fa-4x" [style.display]="isPlaying ? 'none' : ''" (click)="play()"></i>
      <i class="fas fa-pause-circle fa-4x" [style.display]="isPlaying ? '' : 'none'" (click)="pause()"></i>
    </div>
    <div class="ml-next-button" (click)="next()"><i class="fas fa-chevron-circle-right fa-3x"></i></div>
  </div>
</div>
