body {
    padding-top: 10px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

audio {
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.track-img {
    width: 50px;
    height: 50px;
}

*[data-toggle="collapse"] {
    width: 100%;
    text-align: left;
}
