@using MediaLibraryWebUI.Models.Configurations
@model MediaLibraryConfiguration

@{
    var properties = Model.GetType().GetProperties();
    string controller = "MediaLibrary",
           configuration = nameof(MediaLibraryConfiguration);
    var lines = properties.Select(property =>
    {
        string getter = $"var get{configuration}_{property.Name} = () => $('#txt{configuration}_{property.Name}').val();";
        string setter = $"var set{configuration}_{property.Name} = value =>  $('#txt{configuration}_{property.Name}').val(value);";

        return $"{getter}{Environment.NewLine}{setter}";
    });
    IEnumerable<string> propertyData = properties.Select(property => $"'{property.Name}=' + $('#txt{configuration}_{property.Name}').val()");
    string separator = $" + '&' + {Environment.NewLine}";
}

<div class="d-none">
    @foreach (var property in properties)
    {
        @Html.Hidden(property.Name, property.GetValue(Model), new { id = $"txt{configuration}_{property.Name}" });
    }
</div>

<script type="text/javascript" defer="defer">
    function update@(configuration)(success) {
        $.post('@Url.Action("UpdateConfiguration", controller)', get@(configuration)Data(), success);
    }

    @Html.Raw(string.Join(Environment.NewLine, lines));

    function get@(configuration)Data() {
        return @Html.Raw(string.Join(separator, propertyData));
    }
</script>