<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MediaLibraryConnectionString" connectionString="Data Source=KSERVER;Initial Catalog=MediaLibrary;Integrated Security=False;User Id=kserver_sql_dev;Password=kserver_sql_dev" />
  </connectionStrings>
</configuration>