<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  
  <connectionStrings>
    <add name="MediaLibraryEntities"
      connectionString="metadata=res://*/DbContexts.MediaLibrary.csdl|res://*/DbContexts.MediaLibrary.ssdl|res://*/DbContexts.MediaLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kserver;initial catalog=MediaLibrary_DEV;persist security info=True;user id=kserver_sql_dev;password=kserver_sql_dev;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FileTypes" value=".mp3"/>
    <add key="TransactionExpirationAge" value="30"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>