<nav class="navbar navbar-light bg-light ml-nav" role="navigation">
  <a class="navbar-brand" href="/app-music">Music Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarContent">
    <ul class="navbar-nav nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/music']">
          <i class="fa fa-music"></i> My Music
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/podcasts']">
          <i class="fa fa-podcast"></i> Podcasts
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/nowplaying']">
          <i class="fa fa-headphones"></i> Now Playing
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/playlists']">
          <i class="fa fa-list"></i> Playlists
        </a>
      </li>
    </ul>
  </div>
</nav>
