a {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.ml-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .ml-navbar {
        position: relative;
    }
}