@model MediaLibraryWebUI.Models.TelevisionViewModel

@{
    ViewBag.Title = string.Empty;
}

<div></div>

@Html.Partial("~/Views/Shared/Configurations/PlaylistConfiguration.cshtml", Model.Configuration)