<div>
  <h1>Settings</h1>
  <div>
    <h4>App music</h4>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addPathsModal"
      title="Add Music Paths">
      Choose where to look for music
    </button>
  </div>
</div>
<div class="modal" tabindex="-1" id="addPathsModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Add Paths</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="path-button btn btn-outline-secondary" data-toggle="modal"
          data-target="#browseModal" title="Browse Music Paths">
          <i class="fa fa-plus"></i>
        </button>
        <ng-container *ngFor="let path of paths$ | async">
          <button type="button" class="path-button btn btn-outline-secondary" data-toggle="modal"
            data-target="#browseModal" title="Browse Music Paths">
            {{path}}
          </button>
        </ng-container>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="browseModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Browse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
