.ml-track-list-header {
  background-color: lightgray;
  display: flex;
}

.ml-track-list-title {
  font-weight: bold;
  align-self: center;
}

.ml-track-group[data-ml-tracks-hidden='true'] {
  display: none;
}
