.ml-app {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100vh;
}

.ml-nav_content {
  display: flex;
  flex-direction: column;
}

.ml-nav {
  
}

.ml-content {
  display: flex;
}

.ml-controls {
  display: block;
}

@media (min-width: 768px) {
  .ml-nav_content {
    flex-direction: row;
  }

  .ml-nav {
    width: 300px;
    flex: 0 0 auto;
  }

  .ml-content {
    flex: 1 1 auto;
  }
}