.ml-app {
  height: 100vh;
}

.ml-nav_content {
  --ml-controls-height: 100px;

  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ml-controls-height));
}

.ml-nav {
  --ml-nav-height: 56px;

  height: var(--ml-nav-height);
  flex: 0 0 auto;
}

.ml-content {
  --ml-nav-height: 56px;

  height: calc(100% - var(--ml-nav-height));
  flex: 1 1 auto;
}

.ml-controls {
  --ml-controls-height: 100px;

  height: var(--ml-controls-height);
  background-color: black;
}

@media (min-width: 768px) {
  .ml-nav_content {
    flex-direction: row;
  }

  .ml-nav {
    --nav-width: 350px;

    height: 100%;
    width: var(--nav-width);
    flex: 0 0 auto;
  }
  
  .ml-content {
    height: 100%;
    flex: 1 1 auto;
  }
}